 .bg-color {
         background-color: #73A4CD;

 }
 /*     font-family: 'Nunito', sans-serif;
        font-family: 'Dosis', sans-serif; */ .myFont {

 }

.tenu {
        font-family: 'Nunito', sans-serif;
        font-size: 62px;
        color:#14171C ;
        font-weight: 800!important;
}
.GUI
{
        font-family: 'Nunito', sans-serif;
        font-size: 62px;
        color:#DD6E40 ;
        font-weight: 800 !important;
}

.is-5 {
        font-family: 'Nunito', sans-serif;
        font-size:24px !important;
        color:#14171C !important;
        font-weight: bold !important;
}

.is-6 {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color:#14171C !important;
}

.is-2 {
        font-family: 'Nunito', sans-serif;
        font-size:37px !important;
        color:#14171C !important;
        font-weight: bold !important;
}

.is-4 {
        font-family: 'Dosis';
        font-size: 24px;
        font-weight: normal !important;
}
