#clean {
    clear:both;
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown-content .buttonList {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
